body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

canvas {
    height: 100vh;
    width: 100vw;
    background-color: #101010;
}

.fps {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 1.5rem;
    margin: 0.5rem;
    z-index: 99;
    color: white;
    background-color: rgba(24, 24, 24, 0.623);
}